<div class="container">
  <div class="row">
		<div class="col-xs-10 col-xs-offset-2">
      <h2>注文情報確認</h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
  	<div class="col-xs-1"></div>
		<div class="col-xs-10">
		  <table class="table table-bordered">
		    <tbody>
						<tr>
						  <th>商品名</th>
						  <th>単価（税込）</th>
						  <th>数量</th>
						  <th>小計</th>
						</tr>
						<% current_customer.cart_items.each do |cart_item| %>
  						<tr>
  						  <td>
    							<%= attachment_image_tag (cart_item.item), :image, size: "50x50", fallback: "no_image.jpg" %>
  							  <span><%= cart_item.item.name %></span>
  						  </td>
  						  <td>
    							￥<%= cart_item.item.syouhizei.to_s(:delimited) %>
  						  </td>
  						  <td>
    							  <%= cart_item.amount %>
  						  </td>
  						  <td>
  							  ￥<%= cart_item.syoukei.to_s(:delimited) %>
  						  </td>
  						</tr>
			  	  <% end %>
		    </tbody>
		  </table>
	  </div>
	  <div class="col-xs-1"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-2">
	    支払方法
	  </div>
	  <div class="col-xs-2">
	    <%= @payment %>
	  </div>
	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-2">
     	お届け先
    </div>
    <div class="col-xs-2">
      <%= current_customer.address %></br>
      <%= current_customer.full_name %>
    </div>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-2">
      <%= link_to "注文を確定する", complete_public_orders_path, class:"btn btn-success active center-block" %>
    </div>
    <div class="col-xs-5"></div>
  </div>
</div>