<div class="container">
  <div class="row">
		<div class="col-xs-10 col-xs-offset-2">
      <h2>注文情報入力</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4 class="text-center">支払方法</h4>
    </div>
    <div class="col-xs-3">
      <%= form_with url: confirmation_public_orders_path, method: :get, local: true do |f| %>
        <%= f.radio_button :payment, :male %>
        <%= f.label :payment, "クレジットカード", {value: :male, style: "display: inline-block;"} %></br>
        <%= f.radio_button :payment, :female %>
        <%= f.label :payment, "銀行振込", {value: :female, style: "display: inline-block;"} %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4 class="text-center">お届け先</h4>
    </div>
    <div class="col-xs-3">
      <%= current_customer.address %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-2">
      <%= f.submit "確認画面へ進む", class:"btn btn-primary center-block" %>
    </div>
    <% end %>
    <div class="col-xs-5"></div>
  </div>
</div>
