<div class="container">
  <div class="row">
		<div class="col-xs-10 col-xs-offset-2">
      <h2>注文情報入力</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4 class="text-center">支払方法</h4>
    </div>
      <%= form_with model: @order,url: confirmation_public_orders_path, method: :get, local: true do |f| %>
        <% Order.payments.each do |payment| %>
          <div class="form-check">
            <%= f.radio_button :payment, payment[0], class: "form-check-input" %>
            <%= f.label payment[0], class: "form-check-label" %>
          </div>
        <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4 class="text-center">お届け先</h4>
    </div>
    <div class="col-xs-3">
      <%= current_customer.address %>
    </div>
  </div>
</div>

      <%= f.submit "確認画面へ進む", class:"btn btn-primary center-block" %>
    <% end %>
