<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h3 class="title">ながのCAKE</h3>
        </nav>

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if admin_signed_in? %>
              <li><%=link_to "商品一覧", admin_items_path %></li>
              <li><%=link_to "会員一覧", admin_end_users_path %></li>
              <li><%=link_to "注文履歴一覧" %></li>
              <li><%=link_to "ジャンル一覧" %></li>
              <li><%=link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <% else %>
              <li><%=link_to "About", admin_root_path %></li>
              <li><%=link_to "商品一覧", admin_items_path %></li>
              <li><%=link_to "新規登録", new_admin_registration_path %></li>
              <li><%=link_to "ログイン", new_admin_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="container">
  	    <div class="row">
    	    <div class="col-xs-3 col-xs-offset-9">
    		    <p>CopyRight Infratop.inc</p>
    	    </div>
        </div>
      </div>
    </footer>
  </body>
</html>
